# STM32 I2S driver configuration options

# Copyright (c) 2018 STMicroelectronics
# SPDX-License-Identifier: Apache-2.0

menuconfig I2S_IMX_RT
	bool "NXP imx RT I2S controller driver"
	depends on SOC_SERIES_IMX_RT
	help
	  Enable I2S support on the I.MX family of processors.
	  (Tested on the imxrt10xx series)

if I2S_IMX_RT

config I2S_1
	bool "I2S port 1"
	help
	  Enable I2S controller port 1.

config I2S_2
	bool "I2S port 2"
	help
	  Enable I2S controller port 2.

config I2S_3
	bool "I2S port 3"
	help
	  Enable I2S controller port 3.


endif # I2S_IMX_RT
