# Cryptography primitive options for TENSFLOW

# Copyright (c) 2021 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

menuconfig TENSFLOW
	bool "TENSFLOW Support"
	help
	  This option enables the TENSFLOW library.

menuconfig TENSFLOW_LITE
	bool "TENSFLOW LITE Support"
	help
	  This option enables the TENSFLOW library.

menuconfig TENSFLOW_LITE_MICRO
	bool "TENSFLOW LITE MICRO Support"
	help
	  This option enables the TENSFLOW library.
