/*
 * Copyright (c) 2024 Alexander Kozhinov <ak.alexander.kozhinov@gmail.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	model = "STMicroelectronics STM32H745ZI-Q-NUCLEO board";
	compatible = "st,stm32h745zi-q-nucleo";

	chosen {
		zephyr,canbus = &fdcan1;
		zephyr,usb-device = &zephyr_udc0;
	};

	leds: leds {
		compatible = "gpio-leds";
		red_led: led_3 {
			gpios = <&gpiob 14 GPIO_ACTIVE_HIGH>;
			label = "User LD3";
		};
	};

	aliases {
		rxled = &green_led;
		txled = &yellow_led;
		termsw = &red_led;
	};

	pwmleds {
		status = "disabled";
	};
};

&i2c1 {
	status = "disabled";
};

&fdcan1 {
	status = "okay";
};
