# Copyright 2023 NXP
# SPDX-License-Identifier: Apache-2.0

config AUDIO_DMIC_MCUX
	bool "DMIC driver for MCUX"
	default y
	depends on DT_HAS_NXP_MCUX_DMIC_ENABLED
	select MCUX_DMIC
	select DMA
	help
	  Enable support for DMIC on NXP MCUX SoC's
