# Audio configuration options

# Copyright (c) 2020 NXP Semiconductor INC.
# SPDX-License-Identifier: Apache-2.0

menuconfig SOC_AUDIO
	bool "SOC Audio"
	default n
	help
	  This option enables Audio Framework support.

if SOC_AUDIO

module = SOC_AUDIO
module-str = soc_audio
source "subsys/logging/Kconfig.template.log_config"

source "subsys/audio/common/Kconfig"

source "subsys/audio/machine/Kconfig"

endif # SOC_AUDIO